body {
    background: #efefef;
    font-family: sans-serif;
    margin: 0;
}

.container {
    width: 47vw;
    margin: auto;
}

header {
    padding: 2vw 0 2vw 1.3vw;
}

header p {
    margin: 0;
}

header .logo {
    width: 5.5vw;
    float: left;
    margin-right: .5vw;
}

header .title {
    color: #111;
    font-size: 2vw;
    font-weight: bold;
    margin-top: 1vw;
}

header .subtitle {
    color: #66b078;
    font-size: 1.3vw;
    text-transform: uppercase;
    font-weight: bold;
}

/* .notice {
    color: #555;
    background: #ffd2d2 url(notice.png) 1vw center no-repeat;
    background-size: 1.5vw;
    border-radius: .5vw;
    padding: .8vw 1.5vw .8vw 3.5vw;
    font-size: 1vw;
    line-height: 1.4vw;
    font-style: italic;
} */

.testsList {
    padding: 0;
    margin: 0;
    clear: both;
}

.testsList li {
    list-style: none;
    margin: .7vw 0;
}

.testsList li a {
    color: #111;
    background: #ccc url(tests.png) 1.1vw center no-repeat;
    background-size: 2vw;
    border-radius: .5vw;
    text-decoration: none;
    font-weight: bold;
    padding: 1vw 1.5vw 1vw 4vw;
    font-size: 1.3vw;
    display: block;
}

.testsList li a:hover {
    color: #111;
    text-decoration: none;
    background: #ddd url(tests.png) 1.1vw center no-repeat;
    background-size: 2vw;
}

.compatibility {
    font-size: .9vw;
    margin-top: .3vw;
    font-weight: normal;
}

.comp {
    color: green;
    background: url(comp.png) left center no-repeat;
    background-size: 1vw;
    padding-left: 1.5vw;
}

.not-comp {
    margin-left: .7vw;
    color: red;
    background: url(not-comp.png) left center no-repeat;
    background-size: 1vw;
    padding-left: 1.5vw;
}

footer {
    text-align: center;
    font-size: .9vw;
    padding: 2vw 0;
}

@media only screen and (max-width: 600px) {
    header {
        padding: 5vw 0 5vw 19vw;
    }
    header .logo {
        width: 15vw;
        margin-right: 3vw;
    }
    header .title {
        font-size: 6vw;
        margin-top: 2vw;
    }
    header .subtitle {
        font-size: 4vw;
    }
    .container {
        width: 95vw;
    }
    /* .notice {
        color: #111;
        background: #ffd2d2 url(notice.png) 4vw center no-repeat;
        background-size: 9vw;
        border-radius: 1vw;
        padding: 3vw 3vw 3vw 17vw;
        font-size: 4vw;
        line-height: 6vw;
    } */
    .testsList li {
        margin: 2.5vw 0;
    }
    .testsList li a {
        border-radius: 1vw;
        padding: 3vw 4vw 3vw 14.5vw;
        font-size: 5vw;
        background: #ccc url(tests.png) 3.5vw center no-repeat;
        background-size: 8vw;
    }
    .compatibility {
        font-size: 3.1vw;
        margin-top: 1.5vw;
        font-weight: normal;
    }
    .comp {
        color: green;
        background: url(comp.png) left center no-repeat;
        background-size: 3vw;
        padding-left: 3.5vw;
    }
    .not-comp {
        margin: 1vw 0 0 0;
        color: red;
        background: url(not-comp.png) left center no-repeat;
        background-size: 3vw;
        padding-left: 3.5vw;
        display: block;
    }
    footer {
        text-align: center;
        font-size: 3vw;
        padding: 5vw 0;
    }
}